*{
    background-color:aliceblue;
}

.pwebsite{
    display: flex;
    padding: 25px;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.pwebsite-img{
    height: fit-content;
    width: fit-content;

}

.pwebsite-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-color: rgb(105, 152, 222);
    border-style: solid;

}

.pwebsite-details{
    align-self: center;

}

.pwebsite-details #more-me {
    padding: 15px;
    background-color: rgb(3, 0, 82);
    color: rgb(109, 160, 95);

}

.pwebsite-resume{
    padding: 15px;
    color: orangered;
    background-color: yellow;
}